body { 
margin:0; 
padding-top:20px;
border: 0;
} 
@media (min-width : 992px) {

#A1{ 
display:table;
width:100%; 
table-layout:fixed;
border-spacing:40px; 
} 
#B1 { 
border: 3px solid black; 
width: 30%;
box-sizing: border-box; 
background-color: rgb(153, 153, 153); 
font-family: Arial, Helvetica, sans-serif; 
padding-bottom: 10px; 
display: table-cell; 
} 
#B2 { 
border: 3px solid black; 
width: 30%;
box-sizing: border-box;
background-color: rgb(153, 153, 153); 
font-family: Arial, Helvetica, sans-serif; 
padding-bottom: 10px;
display: table-cell; 
} 
#B3 { 
border: 3px solid black; 
width: 30%; 
box-sizing: border-box;
background-color: rgb(153, 153, 153);
font-family: Arial, Helvetica, sans-serif; 
padding-bottom: 10px;
display: table-cell; 
} 
#A2{ 
border-left: 3px solid black;
border-bottom: 3px solid black;
float: right; 
font-weight: bold;
padding-top: 3%; 
padding-bottom: 3%; 
padding-left: 5%;
padding-right: 5%; 
font-size: 22px;
 } 
#C1{ 
border-left: 3px solid black;
border-bottom: 3px solid black; 
float: right; 
font-weight: bold; 
padding-top: 3%; 
padding-bottom: 3%;
padding-left:6%; 
padding-right:6%; 
font-size: 22px; 
} 
#C2{ 
border-left: 3px solid black; 
border-bottom: 3px solid black; 
float: right; 
font-weight: bold; 
padding-top: 3%; 
padding-bottom: 3%; 
padding-left: 10%;
padding-right: 10%; 
font-size: 22px; 
} 
#A3{ 
margin-top: 60px; 
margin-left: 10px; 
margin-right: 10px;
font-size: 16px; 
font-weight: 700; 
}
} @media (min-width : 768px) and (max-width : 991px) { 
#A2{ 
display: grid; 
grid-template-columns: 1fr 1fr;
 } 
#B1 { 
border: 4px solid black; 
box-sizing: border-box;
background-color: rgb(153, 153, 153);
font-family:sans-serif; 
padding-bottom: 10px; 
width: 90%; 
margin: 20px; 
} 
#B2 { 
border: 4px solid black;
box-sizing: border-box;
background-color: rgb(153, 153, 153);
font-family:sans-serif;
padding-bottom: 10px; 
width: 90%; 
margin: 20px; 
} 
#B3{
border: 4px solid black;
box-sizing: border-box; 
background-color: rgb(153, 153, 153); 
font-family:sans-serif; 
padding-bottom: 10px; 
width: 190%; 
margin: 20px; 
}
 #A2{ 
border-left: 4px solid black; 
border-bottom: 4px solid black;
float: right; 
font-weight: bold;
padding-top: 2%; 
padding-bottom: 2%; 
padding-left: 5%; 
padding-right: 5%;
font-size: 22px;
 } 
#C1 { 
border-left: 4px solid black; 
border-bottom: 4px solid black;
float: right; 
font-weight: bold; 
padding-top: 3%; 
padding-bottom:3%;
padding-left:6%; 
padding-right:6%; 
font-size: 22px; 
} 
#C2{ 
border-left: 4px solid black; 
border-bottom: 4px solid black; 
float: right; 
font-weight: bold; 
padding-top: 3%; 
padding-bottom: 3%; 
padding-left:10%; 
padding-right:10%; 
font-size: 22px; 
} 
#A3{ 
margin-top: 60px; 
margin-left: 10px;
margin-right: 10px; 
font-size: 16px; 
font-weight: 700; 
}
} @media (max-width : 767px) {
#A1{ 
margin-top: 60px;
margin-left: 50px; 
display: grid; 
grid-template-rows: 1fr 1fr 1fr; 
row-gap: 50px; 
margin-bottom: 30px; 
} 
#B1{
border: 4px solid black;
width: 90%;
box-sizing: border-box; 
background-color: rgb(153, 153, 153); 
font-family:sans-serif; 
padding-bottom: 10px; 
display: table-cell; 

}


#B2{ 
border: 4px solid black; 
width: 90%;
box-sizing: border-box;
background-color: rgb(153, 153, 153); 
font-family:sans-serif; 
padding-bottom: 10px; 
display: table-cell; 
} 
#B3{ 
border: 4px solid black;
width: 90%; 
box-sizing: border-box;
background-color: rgb(153, 153, 153); 
font-family:sans-serif;
padding-bottom: 10px; 
display: table-cell; 
} 
#A2{ 
border-left: 4px solid black;
border-bottom: 4px solid black; 
float: right; 
font-weight: bold; 
padding-top: 3%; 
padding-bottom: 3%;
padding-left:9%; 
padding-right: 9%; 
font-size: 22px; 
} 
#C1{
border-left: 4px solid black;
border-bottom: 4px solid black; 
float: right;
font-weight: bold; 
padding-top: 3%; 
padding-bottom: 3%;
padding-left: 6%; 
padding-right: 6%; 
font-size: 22px; 
} 
#C2{ 
border-left: 4px solid black;
border-bottom:4px solid black; 
float: right; 
font-weight: bold;
padding-top: 3%;
padding-bottom: 3%;
padding-left: 10%; 
padding-right: 10%; 
font-size: 22px; 
} 
#A3{ 
margin-top: 60px;
margin-left: 10px; 
margin-right: 10px; 
font-size: 16px; 
font-weight: 700; }
}   

